set network ike crypto-profiles ike-crypto-profiles {{ ike.profile-name }} dh-group group14
set network ike crypto-profiles ike-crypto-profiles {{ ike.profile-name }} encryption aes-256-cbc
set network ike crypto-profiles ike-crypto-profiles {{ ike.profile-name }} lifetime hours 8
set network ike crypto-profiles ipsec-crypto-profiles {{ ipsec.profile-name }} esp authentication [ sha512 sha384 sha256 ]
set network ike crypto-profiles ipsec-crypto-profiles {{ ipsec.profile-name }} esp encryption [ aes-256-gcm aes-256-cbc ]
set network ike crypto-profiles ipsec-crypto-profiles {{ ipsec.profile-name }} lifetime hours 1
set network ike crypto-profiles ipsec-crypto-profiles {{ ipsec.profile-name }} dh-group group14
set network ike gateway {{ ike.gateway }} authentication pre-shared-key !!!REPLACE ME!!!
set network ike gateway {{ ike.gateway }} protocol ikev1 dpd enable yes
set network ike gateway {{ ike.gateway }} protocol ikev2 dpd enable yes
set network ike gateway {{ ike.gateway }} protocol ikev2 ike-crypto-profile {{ ike.profile-name }}
set network ike gateway {{ ike.gateway }} protocol version ikev2
set network ike gateway {{ ike.gateway }} local-address ip {{ ike.localaddr }}
set network ike gateway {{ ike.gateway }} local-address interface {{ ike.localif }}
set network ike gateway {{ ike.gateway }} protocol-common nat-traversal enable no
set network ike gateway {{ ike.gateway }} protocol-common fragmentation enable no
set network ike gateway {{ ike.gateway }} peer-address ip {{ ike.peeraddr }}
set network ike gateway {{ ike.gateway }} local-id id {{ ike.localid }}
set network ike gateway {{ ike.gateway }} local-id type {{ ike.localidtype }}
set network ike gateway {{ ike.gateway }} peer-id id {{ ike.peerid }}
set network ike gateway {{ ike.gateway }} peer-id type {{ ike.peeridtype }}
set network interface tunnel units tunnel.{{ ipsec.tunnelid }} ip {{ ipsec.tunnelip}}
set network interface tunnel units tunnel.{{ ipsec.tunnelid }} interface-management-profile PING
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options incoming-bgp-connection allow yes
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options outgoing-bgp-connection allow yes
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options multihop 0
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options keep-alive-interval 60
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options open-delay-time 0
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options hold-time 180
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} connection-options idle-hold-time 15
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} local-address ip {{ ipsec.tunnelip }}
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} local-address interface tunnel.{{ ipsec.tunnelid }}
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} peer-address ip {{ bgp.peerip }}
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} bfd profile None
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} max-prefixes 5000
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} peer-as {{ bgp.peeroneasn }}
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} enable yes
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} reflector-client non-client
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} peer {{ bgp.peer }} peering-type unspecified
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} type ebgp remove-private-as no
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} type ebgp import-nexthop use-peer
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} type ebgp export-nexthop resolve
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} aggregated-confed-as-path yes
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} soft-reset-with-stored-info no
set network virtual-router IT-VR protocol bgp peer-group {{ bgp.peergroup }} enable yes
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} action allow update extended-community none
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} action allow update community none
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} action allow update origin egp
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} action allow update as-path none
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} match address-prefix {{ bgp.importprefix }} exact no
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} match from-peer {{ bgp.peer }}
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} used-by {{ bgp.peergroup }}
set network virtual-router IT-VR protocol bgp policy import rules {{ bgp.importfilter }} enable yes
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} action allow update extended-community none
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} action allow update community none
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} action allow update as-path none
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} action allow update origin egp
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} match address-prefix {{ bgp.exportprefix }} exact yes
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} used-by {{ bgp.peergroup }}
set network virtual-router IT-VR protocol bgp policy export rules {{ bgp.exportfilter }} enable yes
set network virtual-router IT-VR protocol redist-profile {{ bgp.redistprofileout }} filter type static
set network virtual-router IT-VR protocol redist-profile {{ bgp.redistprofileout }} filter destination {{ bgp.exportprefix }}
set network virtual-router IT-VR protocol redist-profile {{ bgp.redistprofileout }} priority 222
set network virtual-router IT-VR protocol redist-profile {{ bgp.redistprofileout }} action redist
set network tunnel ipsec {{ ipsec.tunnelname }} auto-key ike-gateway {{ ike.gateway }}
set network tunnel ipsec {{ ipsec.tunnelname }} auto-key ipsec-crypto-profile {{ ipsec.profile-name }}
set network tunnel ipsec {{ ipsec.tunnelname }} tunnel-monitor enable no
set network tunnel ipsec {{ ipsec.tunnelname }} tunnel-interface tunnel.{{ ipsec.tunnelid }}
set network tunnel ipsec {{ ipsec.tunnelname }} disabled yes
